<?xml version="1.0"?>

<policy xmlns="http://www.wyona.org/security/1.0">

  <usecase id="view">
    <world permission="false"/>
    <user id="litwan" permission="true"/>
  </usecase>

  <usecase id="open">
    <user id="litwan" permission="true"/>
  </usecase>

  <usecase id="write">
    <user id="litwan" permission="true"/>
  </usecase>

  <usecase id="create">
    <user id="litwan" permission="true"/>
  </usecase>

  <usecase id="toolbar">
    <user id="litwan" permission="true"/>
  </usecase>

</policy>
